In [1]:
a=5
b=6
c=a+b
print(c)

11

In [2]:
a=2
b=6
c=a+b
print(c)

8

In [3]:
a=2
b=6
c=a-b
print(c)

-4

In [4]:
a=2
b=6
c=a*b
print(c)

12

## a<b

In [5]:
a=2
b=6
c=a%b
print(c)

2

## a>b

In [9]:
a=6
b=2
c=a%b
print(c)

0

## a<b

In [6]:
a=2
b=6
c=a//b
print(c)

0

## a>b

In [10]:
a=6
b=2
c=a//b
print(c)

3

## a<b

In [7]:
a=2
b=6
c=a/b
print(c)

0.3333333333333333

## a>b

In [11]:
a=6
b=2
c=a/b
print(c)

3.0

## a<b

In [8]:
a=2
b=6
c=a**b
print(c)

64

## a>b

In [12]:
a=6
b=2
c=a**b
print(c)

36

### runtime variable assignment

In [13]:
name=input("enter your name: ")
print("Welcome",name)

enter your name: Sharon
Welcome Sharon

In [14]:
price=input("enter price: ")
quan=input("enter quantity: ")
total_cost=price*quan
print(total_cost)

enter price: 20
enter quantity: 4

TypeError: can't multiply sequence by non-int of type 'str'

In [15]:
price=int(input("enter price: "))
quan=int(input("enter quantity: "))
total_cost=price*quan
print(total_cost)

enter price: 20
enter quantity: 4
80

### relational operators

In [16]:
a=25
b=50
a==b

False

In [17]:
a=25
b=50

In [18]:
a==b

False

In [19]:
a>b

False

In [20]:
a<b

True

In [21]:
a<=b

True

In [22]:
a>=b

False

In [23]:
a!=b

True

### logical operators

In [24]:
x=10

In [25]:
x>2 and x<14

True

In [26]:
x>2 or x<14

True

In [27]:
not(x)

False

In [28]:
not(x<15 and x>2)

False

In [29]:
not(x<15 or x>2)

False

### membership operators

In [30]:
name="Sharon"
print("a" in name)

True

In [31]:
name="Sharon"

In [32]:
print("o" in name)

True

In [33]:
print("e" in name)

False

In [34]:
print("r" in name)

True

In [35]:
print("n" in name)

True

In [36]:
print("s" in name)

False

In [37]:
print("S" in name)

True

In [38]:
print("S" not in name)

False

In [39]:
print("r" not in name)

False

In [40]:
print("l" not in name)

True

### bitwise operator

In [41]:
n=10

In [42]:
(n%2==0)&(n%3==0)

False

In [43]:
(n%2==0)|(n%3==0)

True

### assignment operators

In [44]:
a=2
b=3

In [46]:
a+=b
a

6

In [47]:
a-=b
a

3

In [48]:
a%=b
a

0

In [49]:
a//=b
a

0

In [50]:
a/=b
a

0.0

In [51]:
a**=b
a

0.0

In [52]:
a=2
b=3
a**=b
a

8

In [53]:
a=2
b=3
a/=b
a

0.6666666666666666

### python flow control

In [54]:
n=8
if(n>0):
    print("n is greater")
print("this is always printed")

SyntaxError: invalid syntax (<ipython-input-54-a012dc3a1a52>, line 2)

### if

In [58]:
n=8
if(n>0):
    print(n," is greater than zero")
print("this is always printed")

8  is greater than zero
this is always printed

In [56]:
n=8
if(n>0):
    print(n," is greater than zero")
else
    print("n is lesser than zero")
print("this is always printed")

SyntaxError: invalid syntax (<ipython-input-56-fdd24c5f36b9>, line 4)

### if else

In [59]:
n=8
if(n>0):
    print(n," is greater than zero")
else:
    print(n, " is lesser than zero")
print("this is always printed")

8  is greater than zero
this is always printed

In [60]:
age=int(input("enter age: "))
if(0<age<10):
    print(age," -adolescent")
elif(10<age<20):
    print(age, " -teenage")
else:
    print(age, " is greater than 20")

SyntaxError: invalid syntax (<ipython-input-60-cd5e4c605396>, line 4)

### if elif else

In [61]:
age=int(input("enter age: "))
if(0<age<10):
    print(age," -adolescent")
elif(10<age<20):
    print(age, " -teenage")
else:
    print(age, " is greater than 20")

enter age: 19
19  -teenage

### nested if-else

In [62]:
n1=1
n2=2
n3=3
if(n1>n2):
    print("n1 is greater")
else:
    if(n3>n2):
        print("n3 is greater")
    else: 
        print("n2 is greater")

n3 is greater

### Loops

#### while loops

In [69]:
n=10
sum=0
i=1

while(i<=n):
    print(i)
    sum=sum+i
    i=i+1
  
print("sum is ",sum)

1
2
3
4
5
6
7
8
9
10
sum is  55

### addition of 1st ten odd nos using for

In [70]:
num = int(input("Print sum of odd numbers till : "))
sum = 0;

for i in range(1, num + 1):

    if((i % 2) != 0):
        sum += i;

print("\nSum of odd numbers from 1 to", num, "is :", sum)

Print sum of odd numbers till : 10

Sum of odd numbers from 1 to 10 is : 25

### break and continue

##### break

In [1]:
text="knowledgehut"
for letter in text:
    if letter=="h":
        break
    print(letter)
print("for loop stopped executing")

k
n
o
w
l
e
d
g
e
for loop stopped executing

#### continue

In [2]:
text="knowledge hut"
for letter in text:
    if letter==" ":
        print("loop skipped a break here")
        continue
    print(letter)

k
n
o
w
l
e
d
g
e
loop skipped a break here
h
u
t

In [3]:
text="welcome"
for letter in text:
    if letter=="c":
        break
    print(letter)
print("for loop stopped executing")

w
e
l
for loop stopped executing

In [5]:
text="welcome"
for letter in text:
    if letter=="l":
        print("loop skipped l here")
        continue
    print(letter)

w
e
loop skipped l here
c
o
m
e

### nested for loop

In [6]:
levels=int(input("enter the no. of levels: "))
for level in range(1,levels+1):
    for num in range(level):
     print(level,end=" ")
    print("\n")

enter the no. of levels: 5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5